<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9689847374-hjtrngdbg47q266s0qpm3qosflos62o2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9689847374-hjtrngdbg47q266s0qpm3qosflos62o2</string>
	<key>API_KEY</key>
	<string>AIzaSyAyO4iipb3g4GM7lwaDq757drpL-LHCH18</string>
	<key>GCM_SENDER_ID</key>
	<string>9689847374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kira.WeChat</string>
	<key>PROJECT_ID</key>
	<string>wechat-c30de</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-c30de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9689847374:ios:e469f1e02b262b2096551f</string>
	<key>DATABASE_URL</key>
	<string>https://wechat-c30de-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>